*{font-size:1.4rem;}
ul{display: flex;flex-direction: row; align-items: center;justify-content: space-around;}
li{flex-basis: 100%;}
a{color:#E1F5FE;cursor: pointer; display:block; text-align: center;padding:15px 0;border-radius:10px 10px 0 0 ;}
a span{margin-left:10px;}
ul li:hover a{color: #01579B;}
ul li:hover {background: #E1F5FE;border-radius:10px 10px 0 0 ;}
@media only screen and (max-width: 599px) { 
    .active{width: 100vw !important; border-radius: 0;}    
}


