<div class="container" >
    <ul class="navigation" fxLayout="row" fxLayoutAlign="space-around"  fxLayout.xs="column" >
        <li>
          <a routerLink="/home" routerLinkActive="active">
            <mat-icon aria-hidden="false" >home</mat-icon>
             Home
            </a>
        </li>
        <li>
          <a routerLink="/posts" routerLinkActive="active"> 
            <mat-icon aria-hidden="false" >
                format_list_bulleted
            </mat-icon>
            <span>Lista postów</span>
          </a>
        </li>
        <li>
          <a routerLink="posts/add" routerLinkActive="active"> 
            <mat-icon aria-hidden="false" >
                add_circle_outline
            </mat-icon>
          <span> Dodaj post</span>
          </a>
        </li>
    </ul>
</div>

<!-- <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        First
      </ng-template>
      Content 1
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Second
      </ng-template>
      Content 2
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Third
      </ng-template>
  
      Content 3
    </mat-tab>
  </mat-tab-group> -->
