<mat-card  class="container">    
    
    <mat-card-title>Witam w mojej pierwszej aplikacji napisanej W Angularze.
        <div mat-card-avatar >            
           

        </div>
    </mat-card-title>
    <mat-card-subtitle>Na czym polega aplikacja?</mat-card-subtitle>
        <mat-card-content>
            Aplikacja polega na dodawaniu, usuwaniu oraz przeglądaniu postów potencjalnego bloga
        </mat-card-content>
    <mat-card-subtitle>Jak działa aplikacja?</mat-card-subtitle>
        <mat-card-content>W menu (poniżej głównego tytułu) znajdują się 3 pola będące odnośnikami mającymi na celu przekierowanie użytkownika na właściwe podstrony. 
        </mat-card-content>
        
        <mat-card-content> 1. Strona Home, czyli Strona główna, na której obecnie jesteśmy. </mat-card-content> 
        
        <mat-card-content> 2. Postrona "Lista postów" - mająca za zadanie wyświetlenie wszystkich postów. Z tej podstrony można wyświetlić widok pojedynczego posta, a także  usunąć wybrany post. </mat-card-content> 
        
        <mat-card-content> 3. Podstrona "Dodaj post" - zawierająca formularz dodawania nowego posta. </mat-card-content> 

    <mat-card-subtitle>Wykorzystane techniki</mat-card-subtitle>
        <mat-card-content>
            <ul>
                <li><p>* Angular</p></li>
                <li><p>* Angular Material, Angular Flex-Layout</p> </li>
                <li><p>* JSON Server</p></li>
                <li><p>* FlexBox</p></li>
                <li><p>* Google Fonts, Google Icons</p></li>
                <li><p>* SASS</p></li>
            </ul> 
        </mat-card-content>
</mat-card >